@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
    <p>Piadas exoticas que existem!</p>
    <p><img src="~/imagens/icrsdcd.png" /></p>
</div>
